/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*****Navbar ********************/
.navbar {
    position : relative;
    padding-right: 20px;
     padding-left: 20px;
     padding-top: 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
	 display: inline-block;
}

.dropdown-item {
    display: inline-block;
    width: 100%;
   padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.btn {
 display: inline-block;

}

.btn-primary {
	display: inline-block;
}


.dropdownMenButton1 {
	float: left;
}

.dropdownMenButton2 {
	float: left;
}

.dropdown-menu label {
	font-weight: 100;
	text-align: midle;
}

.btn {
	padding-top: 6px;
	margin-top: 8px;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/*input[type="checkbox"], input[type="radio"] {
	border-color: white;
	background-color: white;
}*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
button.btn-save.btn.btn-primary.btn-sm {
    overflow: visible;
    display: foreground;
    position: relative;
}
button.btn.dropdown-toggle.btn-danger {
    background-color: #30608E;
    border-color: #30608E;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    /*background: #7386D5;*/
	background: #2C608F;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
   /* background: #6d7fcc;*/
	background: #254E73;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    /*color: #7386D5;*/
	color: #2C608F;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
   /* background: #6d7fcc;*/
	background: #254E73;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #6d7fcc;*/
	background: #547FA6;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    /*color: #7386D5;*/
	color: 2C608F;
}

a.article, a.article:hover {
    /*background: #6d7fcc !important;*/
	background: 2C608F !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}



/****** Draggable ************/

 #toolbox-tools {
    width: 660px;
	height: 460px;
	overflow: hidden;
}

.group-handle {
	height: 34px;
	width: 10px;
	cursor: move;
}

.panel-heading {
    cursor: move;
}

.draggable-group {
	float: left;
}

#sortable {
	padding: 0px;
}

#sort-holder {
	display: none;
}

#toggle-toolbox-tools {
    cursor: pointer;
}

#close-toolbox-tools {
	cursor: pointer;
}

.toggle-button-group {
    cursor: pointer;
}

.draggable-group {
    overflow: hidden;
}

.minimized {
    width: 12px;
    height: 36px;
}


/**************************** Draggable ******************/
/*********************************************************/

 #toolbox-tools {
    width: 660px;
	height: 460px;
	overflow: hidden;
}

.group-handle {
	height: 34px;
	width: 10px;
	cursor: move;
}

.panel-heading {
    cursor: move;
}

.draggable-group {
	float: left;
}

#sortable {
	padding: 0px;
}

#sort-holder {
	display: none;
}

#toggle-toolbox-tools {
    cursor: pointer;
}

#close-toolbox-tools {
	cursor: pointer;
}

.toggle-button-group {
    cursor: pointer;
}

.draggable-group {
    overflow: hidden;
}

.minimized {
    width: 12px;
    height: 36px;
}